In [167]:
import pandas as pd
import numpy as np

In [168]:
df = pd.read_csv('data.csv')

In [169]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [170]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [171]:
data = df[['id', 'original_title', 'genres', 'cast', 'director', 'keywords', 'overview',]]
data.head()

,id,original_title,genres,cast,director,keywords,overview
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Adventure|Science Fiction|Thriller,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,based on novel|revolution|dystopia|sequel|dyst...,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,android|spaceship|jedi|space opera|3d,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Action|Crime|Thriller,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,car race|speed|revenge|suspense|car,Deckard Shaw seeks revenge against Dominic Tor...

In [172]:
data.isnull().sum()

id                   0
original_title       0
genres              23
cast                76
director            44
keywords          1493
overview             4
dtype: int64

In [173]:
new_data = data.fillna('')
new_data.isnull().sum()

id                0
original_title    0
genres            0
cast              0
director          0
keywords          0
overview          0
dtype: int64

In [174]:
new_data.iloc[0].genres.split('|')

['Action', 'Adventure', 'Science Fiction', 'Thriller']

In [175]:
new_data['genres'] = new_data['genres'].str.split('|')

new_data['keywords'] = new_data['keywords'].str.split('|')

new_data['cast'] = new_data['cast'].str.split('|')

new_data['overview'] = new_data['overview'].apply(lambda x: x.split())

new_data['director'] = new_data['director'].str.replace(" ", "")

new_data['cast'] = new_data['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
new_data['genres'] = new_data['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
new_data['keywords'] = new_data['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])

new_data['director'] = new_data['director'].apply(lambda x: [x])

In [176]:
new_data.head()

,id,original_title,genres,cast,director,keywords,overview
0,135397,Jurassic World,"[Action, Adventure, ScienceFiction, Thriller]","[ChrisPratt, BryceDallasHoward, IrrfanKhan, Vi...",[ColinTrevorrow],"[monster, dna, tyrannosaurusrex, velociraptor,...","[Twenty-two, years, after, the, events, of, Ju..."
1,76341,Mad Max: Fury Road,"[Action, Adventure, ScienceFiction, Thriller]","[TomHardy, CharlizeTheron, HughKeays-Byrne, Ni...",[GeorgeMiller],"[future, chase, post-apocalyptic, dystopia, au...","[An, apocalyptic, story, set, in, the, furthes..."
2,262500,Insurgent,"[Adventure, ScienceFiction, Thriller]","[ShaileneWoodley, TheoJames, KateWinslet, Anse...",[RobertSchwentke],"[basedonnovel, revolution, dystopia, sequel, d...","[Beatrice, Prior, must, confront, her, inner, ..."
3,140607,Star Wars: The Force Awakens,"[Action, Adventure, ScienceFiction, Fantasy]","[HarrisonFord, MarkHamill, CarrieFisher, AdamD...",[J.J.Abrams],"[android, spaceship, jedi, spaceopera, 3d]","[Thirty, years, after, defeating, the, Galacti..."
4,168259,Furious 7,"[Action, Crime, Thriller]","[VinDiesel, PaulWalker, JasonStatham, Michelle...",[JamesWan],"[carrace, speed, revenge, suspense, car]","[Deckard, Shaw, seeks, revenge, against, Domin..."

In [177]:
new_data['tags'] =  new_data['overview'] + new_data['genres'] +  new_data['keywords'] + new_data['cast'] +  new_data['director']

In [178]:
new_data.head()

,id,original_title,genres,cast,director,keywords,overview,tags
0,135397,Jurassic World,"[Action, Adventure, ScienceFiction, Thriller]","[ChrisPratt, BryceDallasHoward, IrrfanKhan, Vi...",[ColinTrevorrow],"[monster, dna, tyrannosaurusrex, velociraptor,...","[Twenty-two, years, after, the, events, of, Ju...","[Twenty-two, years, after, the, events, of, Ju..."
1,76341,Mad Max: Fury Road,"[Action, Adventure, ScienceFiction, Thriller]","[TomHardy, CharlizeTheron, HughKeays-Byrne, Ni...",[GeorgeMiller],"[future, chase, post-apocalyptic, dystopia, au...","[An, apocalyptic, story, set, in, the, furthes...","[An, apocalyptic, story, set, in, the, furthes..."
2,262500,Insurgent,"[Adventure, ScienceFiction, Thriller]","[ShaileneWoodley, TheoJames, KateWinslet, Anse...",[RobertSchwentke],"[basedonnovel, revolution, dystopia, sequel, d...","[Beatrice, Prior, must, confront, her, inner, ...","[Beatrice, Prior, must, confront, her, inner, ..."
3,140607,Star Wars: The Force Awakens,"[Action, Adventure, ScienceFiction, Fantasy]","[HarrisonFord, MarkHamill, CarrieFisher, AdamD...",[J.J.Abrams],"[android, spaceship, jedi, spaceopera, 3d]","[Thirty, years, after, defeating, the, Galacti...","[Thirty, years, after, defeating, the, Galacti..."
4,168259,Furious 7,"[Action, Crime, Thriller]","[VinDiesel, PaulWalker, JasonStatham, Michelle...",[JamesWan],"[carrace, speed, revenge, suspense, car]","[Deckard, Shaw, seeks, revenge, against, Domin...","[Deckard, Shaw, seeks, revenge, against, Domin..."

In [179]:
movies = new_data[['id', 'original_title', 'tags']]

In [180]:
movies

,id,original_title,tags
0,135397,Jurassic World,"[Twenty-two, years, after, the, events, of, Ju..."
1,76341,Mad Max: Fury Road,"[An, apocalyptic, story, set, in, the, furthes..."
2,262500,Insurgent,"[Beatrice, Prior, must, confront, her, inner, ..."
3,140607,Star Wars: The Force Awakens,"[Thirty, years, after, defeating, the, Galacti..."
4,168259,Furious 7,"[Deckard, Shaw, seeks, revenge, against, Domin..."
...,...,...,...
10861,21,The Endless Summer,"[The, Endless, Summer,, by, Bruce, Brown,, is,..."
10862,20379,Grand Prix,"[Grand, Prix, driver, Pete, Aron, is, fired, b..."
10863,39768,Beregis Avtomobilya,"[An, insurance, agent, who, moonlights, as, a,..."
10864,21449,"What's Up, Tiger Lily?","[In, comic, Woody, Allen's, film, debut,, he, ..."
10865,22293,Manos: The Hands of Fate,"[A, family, gets, lost, on, the, road, and, st..."

In [181]:
movies.loc[:, 'tags'] = movies['tags'].apply(lambda x: " ".join(x))

In [182]:
movies.tags.iloc[0]

"Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond. Action Adventure ScienceFiction Thriller monster dna tyrannosaurusrex velociraptor island ChrisPratt BryceDallasHoward IrrfanKhan VincentD'Onofrio NickRobinson ColinTrevorrow"

In [183]:
movies.loc[:, 'tags'] = movies.tags.apply(lambda x: x.lower())

In [184]:
movies.tags.iloc[0]

"twenty-two years after the events of jurassic park, isla nublar now features a fully functioning dinosaur theme park, jurassic world, as originally envisioned by john hammond. action adventure sciencefiction thriller monster dna tyrannosaurusrex velociraptor island chrispratt brycedallashoward irrfankhan vincentd'onofrio nickrobinson colintrevorrow"

## Lemmatization

In [185]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [186]:
def lemmatize(text):
    lemmatized_words = [lemmatizer.lemmatize(i) for i in text.split()]
    return " ".join(lemmatized_words)

In [187]:
movies.loc[:, 'tags'] = movies['tags'].apply(lemmatize)

In [188]:
movies.iloc[10862]['tags']

"grand prix driver pete aron is fired by his team after a crash at monaco that injures his teammate, scott stoddard. while stoddard struggle to recover, aron begin to drive for another team, and start dating stoddard's wife. action adventure drama carrace racing formula1 jamesgarner evamariesaint yvesmontand toshirÃ¥mifune brianbedford johnfrankenheimer"

## Text Vectorization using TF-IDF

In [189]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [190]:
# cv = CountVectorizer(max_features = 10000, stop_words = 'english')

tf_idf = TfidfVectorizer(stop_words='english')

In [191]:
vectors = tf_idf.fit_transform(movies['tags'])  # Will return Sparse Matrix

In [192]:
vectors.toarray()

# movies tags vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [193]:
vectors.shape 

# 10866 are Movies and 60085 are the max features i.e. unique words from the corpus

(10866, 60085)

In [194]:
# for i in cv.get_feature_names_out():
#     print(i)

In [195]:
from sklearn.metrics.pairwise import cosine_similarity  #cosine similiarity and distance are inversely proportional

In [196]:
# Similarity of Every vector to other vectors

similarity = cosine_similarity(vectors)

In [197]:
similarity.shape

(10866, 10866)

In [198]:
similarity[0]

array([1.        , 0.0243209 , 0.01642654, ..., 0.        , 0.00731805,
       0.        ])

## Creating a Method to get the Similar Movies

In [199]:
enumerate(similarity[0])

In [200]:
# key is for sorting by the similarity, and slicing from 1:6 so that first movie itself (similarity = 1) does not show up in the results

sorted(list(enumerate(similarity[0])), reverse=True, key = lambda x: x[1])[1:6]

[(5391, 0.2827880559172387),
 (10223, 0.256989860964588),
 (2820, 0.16881185952294242),
 (510, 0.15240253379629148),
 (10192, 0.1341220718290218)]

In [254]:
def recommend(movie):

    movie_index = movies[movies['original_title'] == movie].index[0]
    movie_similarity_array = similarity[movie_index]
    sorted_similiarity_and_indexed_list = sorted(list(enumerate(movie_similarity_array)), reverse=True, key = lambda x: x[1])[1:6]

    for movie in sorted_similiarity_and_indexed_list:
        print(movies.iloc[movie[0]].original_title)

In [255]:
recommend('Jurassic World')

The Lost World: Jurassic Park
Jurassic Park
Jurassic Park III
Jurassic City
Futureworld

In [256]:
recommend('Spectre')

Skyfall
Quantum of Solace
Never Say Never Again
Kingsman: The Secret Service
Goldeneye

In [257]:
recommend('The Martian')

Red Planet
Robinson Crusoe on Mars
Apollo 18
The Last Days on Mars
RocketMan

In [258]:
recommend('Gravity')

Moonraker
Robinson Crusoe on Mars
SpaceCamp
Alien Apocalypse
Hubble 3D

In [259]:
recommend('The Conjuring')

The Dead Room
Outlaw Prophet: Warren Jeffs
Manos: The Hands of Fate
Insidious
The Apparition

In [260]:
recommend('The Bourne Ultimatum')

The Bourne Supremacy
The Bourne Legacy
The Bourne Identity
Universal Soldier
The Paperboy

In [272]:
recommend('RoboCop')

RoboCop 2
RoboCop 3
Robosapien: Rebooted
Runaway
Nemesis

In [262]:
recommend('Spotlight')

Foul Play
Black Mass
By the Gun
Elizabeth
Celtic Pride

In [263]:
recommend('Mission: Impossible - Ghost Protocol')

Mission: Impossible - Rogue Nation
Mission: Impossible III
Mission: Impossible II
Mission: Impossible
Big Game

In [264]:
recommend('The Core')

2012
The Day the Earth Caught Fire
Armageddon
V
Gambit

In [280]:
recommend('Memento')

Ghajini
Unknown
Extracted
Amnesiac
Anarchy Parlor

In [266]:
recommend('The Hunger Games')

The Hunger Games: Mockingjay - Part 2
The Hunger Games: Catching Fire
The Hunger Games: Mockingjay - Part 1
Indie Game: The Movie
Hunger

In [267]:
recommend('Zero Dark Thirty')

Seal Team Six: The Raid on Osama Bin Laden
Jack Ryan: Shadow Recruit
Mission: Impossible
World Trade Center
The Sum of All Fears

In [268]:
recommend('Whiplash')

Born to Be Blue
The Cotton Club
La tourneuse de pages
Low Down
Ninja III: The Domination

In [269]:
recommend('Furious 7')

Fast & Furious 6
The Fast and the Furious
Fast & Furious
Fast Five
Los Bandoleros

In [273]:
recommend('Cars')

Cars 2
Time Travel Mater
Le Mans
Mater and the Ghostlight
Tokyo Mater

In [271]:
recommend('The Godfather')

The Godfather: Part II
The Godfather: Part III
Blood Ties
Eulogy
Family Business

In [291]:
recommend('The Prestige')

Magicians
The End of the Affair
American Movie
Batman Begins
The Incredible Burt Wonderstone

In [292]:
recommend('Nightcrawler')

Broadcast News
Anchorman 2: The Legend Continues
Frailty
Kalifornia
Where the Truth Lies

In [274]:
# import pickle

In [275]:
# pickle.dump(similarity, open('similarity_matrix.pkl', 'wb'))